.page-body {
  font-family: map_get($font-families, 'sans-serif');
  font-weight: map_get($font-weights, 'normal');
  background-color: map_get($color-palette, 2);
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
