.corner-marks {
}

.corner-mark {
  position: absolute;
  display: flex;
  width: $corner-mark-size;
  height: $corner-mark-size;
  justify-content: center;
  align-items: center;
  font-size: map_get($font-sizes, 'small');

  // Top-left
  &.corner-mark-1 {
    top: 0;
    left: 0;
  }

  // Top-middle
  &.corner-mark-2 {
    top: 0;
    left: $corner-mark-size;
  }

  // Top-right
  &.corner-mark-3 {
    top: 0;
    left: ($corner-mark-size * 2);
  }

  // Left-middle
  &.corner-mark-4 {
    top: $corner-mark-size;
    left: 0;
  }

  // Right-middle
  &.corner-mark-5 {
    top: $corner-mark-size;
    left: ($corner-mark-size * 2);
  }

  // Bottom-left
  &.corner-mark-6 {
    top: ($corner-mark-size * 2);
    left: 0;
  }

  // Bottom-middle
  &.corner-mark-7 {
    top: ($corner-mark-size * 2);
    left: $corner-mark-size;
  }

  // Bottom-right
  &.corner-mark-8 {
    top: ($corner-mark-size * 2);
    left: ($corner-mark-size * 2);
  }
}

.center-marks {
  font-size: map_get($font-sizes, 'small');
}
