$color-white: #fff;
$color-black: #000;
$color-error: #f69274;
$color-shadow: #777;

// Palette 'Puzzle Shadow' by DarkBlueMe4Ever
// https://www.colourlovers.com/palette/3833920/Puzzle_Shadow
$color-palette: (
  1: #d7ded8,
  2: #9af8fd,
  3: #4fd5f0,
  4: #0fb0e2,
  5: #29081f,
);

// http://hnl.name/color-schemer-online/
// Using color #9af8fd
$cell-colors: (
  1: $color-white,
  2: #9bfdd1,
  3: #fc675f,
  4: #fd9bc7,
  5: #fdd19b,
  6: #fda09b,
);

// Colors for the keyboard buttons
$key-colors: (
  border: #ccc,
  background: #eee,
);

$font-families: (
  'sans-serif': ('Josefin Sans', sans-serif),
);

$font-weights: (
  'normal': 300,
  'semibold': 400,
);

$font-sizes: (
  'tiny': 10px,
  'small': 12px,
  'medium': 14px,
  'default': 16px,
  'large': 20px,
  'cell-value': 35px,
);

$cell-size: 70px;
$corner-mark-size: ($cell-size / 3);

$border-radius-default: 4px;

// Vendors
$fa-font-path : '../fonts/font-awesome';
